{
  "name": "mc-dad-scripts",
  "type": "module",
  "scripts": {
    "start": "bun run runtime/index.ts",
    "build:admin": "bun build runtime/index.ts --compile --outfile mc-dad-admin"
  },
  "devDependencies": {
    "bun-types": "latest"
  }
}
